In [3]:
#import dependancies
import pandas as pd
from sqlalchemy import create_engine

In [4]:
#extract data from CSV files
csv_file = "Original files/team_records.csv"
team_data_df = pd.read_csv(csv_file)
team_data_df.head()

csv_file2 = "Original files/Team_Key.csv"
team_key_df = pd.read_csv(csv_file2)

In [5]:
#clean NBA season record data to include the season where player 
#statistics and salary are available

season=['2017-18']
season_df=team_data_df[team_data_df["Season"].isin(season)]
season_df.head()

,Season,Lg,Team,W,L,W/L%,Finish,SRS,Pace,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,Coaches,Top WS
0,2017-18,NBA,Boston Celtics,29,10,0.744,1,4.38,95.4,-1.7,108.0,0.2,102.8,-5.0,NaN,B. Stevens (29-10),K. Irving (5.7)
72,2017-18,NBA,Toronto Raptors,24,10,0.706,2,7.07,98.1,1.0,112.8,5.0,104.8,-3.0,NaN,D. Casey (24-10),D. DeRozan (4.7)
95,2017-18,NBA,New York Knicks,17,18,0.486,3,-0.19,96.0,-1.1,107.6,-0.2,107.7,-0.1,NaN,J. Hornacek (17-18),E. Kanter (3.7)
167,2017-18,NBA,Philadelphia 76ers,15,19,0.441,4,-0.08,100.8,3.7,105.8,-2.0,106.8,-1.0,NaN,B. Brown (15-19),J. Embiid (2.6)
236,2017-18,NBA,Brooklyn Nets,13,22,0.371,5,-2.73,100.5,3.4,106.7,-1.1,109.2,1.4,NaN,K. Atkinson (13-22),S. Dinwiddie (2.9)

In [6]:
#Check dataframe
teams=season_df['Team'].unique()

print(teams)

['Boston Celtics' 'Toronto Raptors' 'New York Knicks' 'Philadelphia 76ers'
 'Brooklyn Nets' 'Minnesota Timberwolves' 'Oklahoma City Thunder'
 'Denver Nuggets' 'Portland Trail Blazers' 'Utah Jazz'
 'Cleveland Cavaliers' 'Detroit Pistons' 'Milwaukee Bucks'
 'Indiana Pacers' 'Chicago Bulls' 'Golden State Warriors'
 'Los Angeles Clippers' 'Phoenix Suns' 'Sacramento Kings'
 'Los Angeles Lakers' 'Washington Wizards' 'Miami Heat'
 'Charlotte Hornets' 'Orlando Magic' 'Atlanta Hawks' 'Houston Rockets'
 'San Antonio Spurs' 'New Orleans Pelicans' 'Dallas Mavericks'
 'Memphis Grizzlies']

In [7]:
#Clean dataframe
teams_1718=season_df[['Team', 'W/L%', 'Finish']].copy()
teams_1718.head(30)

                        Team   W/L%  Finish
0             Boston Celtics  0.744       1
72           Toronto Raptors  0.706       2
95           New York Knicks  0.486       3
167       Philadelphia 76ers  0.441       4
236            Brooklyn Nets  0.371       5
287   Minnesota Timberwolves  0.611       1
316    Oklahoma City Thunder  0.556       2
367           Denver Nuggets  0.543       3
418   Portland Trail Blazers  0.529       4
466                Utah Jazz  0.417       5
510      Cleveland Cavaliers  0.686       1
558          Detroit Pistons  0.559       2
628          Milwaukee Bucks  0.559       2
678           Indiana Pacers  0.528       4
729            Chicago Bulls  0.371       5
781    Golden State Warriors  0.778       1
853     Los Angeles Clippers  0.441       2
901             Phoenix Suns  0.378       3
951         Sacramento Kings  0.343       4
1021      Los Angeles Lakers  0.324       5
1091      Washington Wizards  0.556       1
1148              Miami Heat  0.514       2
1178       Charlotte Hornets  0.371       3
1206           Orlando Magic  0.333       4
1235           Atlanta Hawks  0.257       5
1304         Houston Rockets  0.735       1
1355       San Antonio Spurs  0.694       2
1406    New Orleans Pelicans  0.514       3
1422        Dallas Mavericks  0.324       4
1460       Memphis Grizzlies  0.314       5

In [10]:
team_key_df.head(30)

                      Team   Tm
0            Atlanta Hawks  ATL
1           Boston Celtics  BOS
2            Brooklyn Nets  BRK
3        Charlotte Hornets  CHO
4            Chicago Bulls  CHI
5      Cleveland Cavaliers  CLE
6         Dallas Mavericks  DAL
7           Denver Nuggets  DEN
8          Detroit Pistons  DET
9    Golden State Warriors  GSW
10         Houston Rockets  HOU
11          Indiana Pacers  IND
12    Los Angeles Clippers  LAC
13      Los Angeles Lakers  LAL
14       Memphis Grizzlies  MEM
15              Miami Heat  MIA
16         Milwaukee Bucks  MIL
17  Minnesota Timberwolves  MIN
18    New Orleans Pelicans  NOP
19         New York Knicks  NYK
20   Oklahoma City Thunder  OKC
21           Orlando Magic  ORL
22      Philadelphia 76ers  PHI
23            Phoenix Suns  PHO
24  Portland Trail Blazers  POR
25        Sacramento Kings  SAC
26       San Antonio Spurs  SAS
27         Toronto Raptors  TOR
28               Utah Jazz  UTA
29      Washington Wizards  WAS

In [11]:
team_combined=pd.merge(teams_1718, team_key_df, on="Team")
team_combined.head()

                 Team   W/L%  Finish   Tm
0      Boston Celtics  0.744       1  BOS
1     Toronto Raptors  0.706       2  TOR
2     New York Knicks  0.486       3  NYK
3  Philadelphia 76ers  0.441       4  PHI
4       Brooklyn Nets  0.371       5  BRK

In [12]:
#combine dataframes to add Tm variable
team_final=team_combined[['Tm', 'W/L%', 'Finish']].copy()
team_final.head(30)

     Tm   W/L%  Finish
0   BOS  0.744       1
1   TOR  0.706       2
2   NYK  0.486       3
3   PHI  0.441       4
4   BRK  0.371       5
5   MIN  0.611       1
6   OKC  0.556       2
7   DEN  0.543       3
8   POR  0.529       4
9   UTA  0.417       5
10  CLE  0.686       1
11  DET  0.559       2
12  MIL  0.559       2
13  IND  0.528       4
14  CHI  0.371       5
15  GSW  0.778       1
16  LAC  0.441       2
17  PHO  0.378       3
18  SAC  0.343       4
19  LAL  0.324       5
20  WAS  0.556       1
21  MIA  0.514       2
22  CHO  0.371       3
23  ORL  0.333       4
24  ATL  0.257       5
25  HOU  0.735       1
26  SAS  0.694       2
27  NOP  0.514       3
28  DAL  0.324       4
29  MEM  0.314       5

In [17]:
#export final clean team dataset to be merged with the player statistics 
#data using TM
team_final.to_csv('Clean data/Team.csv', index=False)